<h1>Weekly Aggregates</h1>

<h2>First runs</h2>

<table>
  <thead>
    <th>Week</th>
    <th>Average Time</th>
    <th>Total Builds</th>
    <th>Total Pass</th>
    <th>% pass</th>
    <th>Average Total Time</th>
  </thead>
  <tbody>
    <% group_records_by_week(first_runs).each do |records| %>
      <tr>
        <td>
          <%= records.first.created_at.strftime('%-m/%-d') %> -
          <%= records.last.created_at.strftime('%-m/%-d') %>
        </td>
        <td><%= average_run_time records %></td>
        <td><%= records.count %></td>
        <td><%= count_passing records %></td>
        <td><%= count_passing(records) / records.count %></td>
        <td><%= average_total_run_time records %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Full runs</h2>

<table>
  <thead>
    <th>Week</th>
    <th>Average Time</th>
    <th>Total Builds</th>
    <th>Total Pass</th>
    <th>% pass</th>
    <th>Average Total Time</th>
  </thead>
  <tbody>
    <% group_records_by_week(full_runs).each do |records| %>
      <tr>
        <td>
          <%= records.first.created_at.strftime('%-m/%-d') %> -
          <%= records.last.created_at.strftime('%-m/%-d') %>
        </td>
        <td><%= average_run_time records %></td>
        <td><%= records.count %></td>
        <td><%= count_passing records %></td>
        <td><%= count_passing(records) / records.count %></td>
        <td><%= average_total_run_time records %></td>
      </tr>
    <% end %>
  </tbody>
</table>
